    .features {
        padding-top: 80px;
        .inner {}
        .features-cont {}
        .features-list {}
        .features-item {
            display: flex;
            color: cl(white);
            &
        }
    }
    
    .cmn-link {
        a {
            color: cl(white);
            background-color:
        }
    }